<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Navbar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        <style>
            .main-image{
                background-repeat: no-repeat;
                background-attachment:fixed;
                background-size:cover;
                position: relative;
                z-index: 0;
                max-width: 100%;
                height: auto;
                width: auto\9;
            }
            .background-container {
            overflow-x: hidden;
            }

            .container1, .container2{
            }

        </style>
    </head>
    <body>
        <header>
            <a class="logo" href="#"><img src="images/Logo_Orange.png" class="img1"></a>
            <nav>
                <ul class="nav__links">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <a class="cta" href="#">Contact</a>
            <p class="menu cta">Menu</p>
        </header>
        <div id="mobile__menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a href="#">Services</a>
                <a href="#">Projects</a>
                <a href="#">About</a>
            </div>
        </div>
        <div id="page">
            <div class="first home">
                <div class="container1">
                    <div class="outline">
                        <div class="orange a"></div>
                        <div class="orange b"></div>
                        <div class="orange c"></div>
                        <div class="orange d"></div>
                    </div>
                    <p class="slogan" id="slogan">
                            el rujido se escucha
                            entre las montañas
                    </p>
                </div>
                <div class="container2">
                    <div class="outline">
                        <div class="orange a2"></div>
                        <div class="orange b2"></div>
                        <div class="orange c2"></div>
                        <div class="orange d2"></div>
                    </div>
                    <p class="slogan2" id="slogan">rawr</p>
                    <p class="slogan-back">
                        rawr
                    </p>
                </div>
                <div class="background-container"><img src="images/ktmimage1.jpg" class="main-image"></div>
            </div>
            
            <div class="second sessions">
                <h1> Preparado para la aventura?</h1>
            </div>
        </div>
        
<script type="text/javascript" src="mobile.js"></script>
    </body>
</html>