<!DOCTYPE html>
<html lang="en">
<head>
    <title> HomePage </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
            
    <div id="container">
        <div id="icon">
                <img src="avatar.jpeg" alt="avatar" id="avatar">
            </div>
        <div class="menubar" id="tmenubar">
            <div class="button" id="button1">
                <p class="mbtext" >HOMEPAGE</p>
            </div>
            <div class="button" id="button2">
                <p class="mbtext" >MOTORCYLCES</p>
            </div>    
                </div>    
            </div>    
            <div class="button" id="button2">
                <p class="mbtext" >MERCH</p>
            </div>
            <div class="button" id="button2">
                <p class="mbtext" >EVENTS</p>
            </div>            
                </div>            
            </div>            
        </div>
    </div>


    <div class="menubar" id="rmenubar"></div>
</body>
</html>